.playerfoot_container{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    svg{
        width: 36px;
        height: 36px;
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
        flex-shrink: 0;
    }
    svg:hover{
        opacity: 0.8;
    }
    .foot_left,.foot_right{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 150px;
        height: 100%;
        gap: 1rem;
        flex-shrink: 0;
    }
    .curTime,.duration{
        font-size: 14px;
        width: 40px;
        color: #e6e6e6;
    }
    .curTime{
        margin-left: 2rem;
    }
    .duration{
        margin-right: 2rem;
    }
    .foot_center{
        color: #e6e6e6;
        display: flex;
        width: calc(100vw - 560px);
        justify-content: center;
        align-items: center;
        margin: 0;
        height: 1rem;
        cursor: pointer;
        .play_line{
            width: 100%;
            height: 2px;
            margin: 0 5px;
            background-color: rgba($color: #fff, $alpha: 0.5);
            display: flex;
            align-items: center;
            flex: 1;
            position: relative;
            border-radius: 2px;
            &_progress{
                height: 2px;
                background-color: hsla(0,0%,88.2%,.8);
                transition: all .3s;
            }
            &_dot{
                position: absolute;
                top: -5px;
                width: 10px;
                height: 10px;
                border-radius: 5px;
                background-color: #fff;
                transition: all .3s;
            }
        }
        
    }
    .foot_right{
        width: 250px;
        flex-shrink: 0;
        .volumn{
            width: 100px;
            height: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transform: translateX(-10px);
            &_line{
                width: 110px;
                height: 2px;
                background-color: #aaa;
                border-radius: 1px;
                position: relative;
                &_progress{
                    height: 2px;
                    background-color: #e6e6e6;
                    display: flex;
                    justify-content: flex-end;
                    overflow: visible;
                    transition: all .3s;
                }
                &_dot{
                    position: absolute;
                    top: -5px;
                    width: 10px;
                    height: 10px;
                    border-radius: 5px;
                    background-color: #fff;
                    cursor: pointer;
                    transition: all .3s;
                }
            }
        }
    }
}